/* LEAFLET TOOLTIP CUSTOM */

.leaflet-tooltip::before {
  display: none;
}
.leaflet-tooltip div {
  padding: 0 .175rem
}
.leaflet-tooltip {
  border: none;
  font-size: .75rem;
  font-weight: bold;
  border: none;
  border-radius: none;
  box-shadow:none;
  background: transparent;
  color: black;
  text-shadow: 0 1px 2px #ffffff;
}

.village-label {
  color: black;
  background: #fffffff6;
  text-shadow: none;
  border-radius: 4px;
  padding: 0;
  margin: 3px;
}
.village-label {
  color: black;
  background: #fffffff6;
  text-shadow: none;
  border-radius: 4px;
  padding: 0;
  margin: 3px;
}

.village-label-drr-sls {
  color: #5d3200;
  background: #fffffff6;
  text-shadow: none;
  border-radius: 4px;
  padding: 0;
  margin: 3px;
}
.village-label-sls {
  color: #240856;
  background: #fffffff6;
  text-shadow: none;
  border-radius: 4px;
  padding: 0;
  margin: 3px;
}
.village-label-drr {
  color: #134a1d;
  background: #fffffff6;
  text-shadow: none;
  border-radius: 4px;
  padding: 0;
  margin: 3px;
}

.tooltip-city {
  color: black;
  background: #fffffff6;
  text-shadow: none;
  border-radius: 4px;
  padding: 0;
  margin: 3px;
}

.tooltip-town {
  margin-top: 2px;
  font-size: .475rem;
}

.dot-marker{
  color: black !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .65rem;
  font-weight: 500;
}
/* end LEAFLET TOOLTIP CUSTOM */


/* LEAFLET CONTROL CUSTOM */
.leaflet-control-scale-line {
  border:2px solid #D22F3D;
  border-top:none;

}
.map .leaflet-control-layers {
  background: rgba(255, 255, 255, 0.5);
}
.map .leaflet-control-layers-expanded {
  background: white;
}

.map .leaflet-control-layers-toggle:before {
  content: "Layers";
  font-weight: 500;
  font-size: .7rem;
  color: white;
  background: #D22F3D;
  padding: 0px .25rem 1px;
  position: absolute;
  top: -16px;
  left: -2px;
  height: 13px;
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
}

.map .leaflet-control-layers-toggle{
  text-decoration: none;
}

.map .leaflet-control-layers{ 
  margin-top: 25px;
  border: 2px solid #D22F3D;
  border-radius: 1px;
  border-top-left-radius: 0px;
}

.map .leaflet-control-layers-selector {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 13.5px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #7d7d7d;
  transition: background-color ease 0.2s;
}

.map .leaflet-control-layers-selector:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  width: 10px;
  height: 10px;
  background: #fff;
  left: 1.5px;
  top: 1.5px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all ease 0.2s;
}

.map .leaflet-control-layers-selector:checked {
  background-color: #D22F3D;
}

.map .leaflet-control-layers-selector:checked:before {
  left: 8px;
}

/* END LEAFLET CONTROL CUSTOM */
